.favorable{
    background-color: green;
    color: white;
}

.moderate{
    background-color: rgb(77, 77, 4);
    color: white;
}

.severe{
    background-color: red;
    color: white;
}

.hide {
    display: none;
}